<%= form_for(animal) do |f| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <% Fruit.all.each do |fruit| -%>
    <div>
      <%= check_box_tag :preference_ids, fruit.id, @animal.fruits.include?(fruit), :name => 'animal[fruit_ids][]' -%>
      <%= label_tag :fruit_ids, fruit.name -%>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
